* {
  font-family: Lato, Linter, fantasy;
  color: black;
  font-size: 18px;
}

.border-check {
  border: 1.5px solid blue;
}

#header-btn:focus {
  box-shadow: 0 0 0 3px green;
}

#header-btn span {
  background: url(./imgs/icons/IconMenu.svg) center center no-repeat;
  background-size: 20px 20px;
}

#header-btn .addX {
  background: url(./imgs/icons/x.svg) center center no-repeat;
  background-size: 20px 20px;
}

#top-bar {
  padding: 0 15px;
  background: #3e3e3e;
}

#top-bar * {
  font-size: 14px;
}

#header {
  padding: 5px 15px;
}

#header .nav-item {
  border-bottom: 2px solid transparent;
  border-radius: 2%;
}

#header .nav-item:hover {
  background: #4eb741;
  border-bottom: 2px solid #4eb741;
  font-weight: bold;
}

#header .nav-item:hover a:active {
  color: #ee3d24;
}

#header .nav-item .header-a {
  color: #000;
}

#header #CC-conference-btn-container {
  width: 200px;
}

#headline #img1 {
  display: none;
  height: 550px;
}

#headline #img2 {
  display: block;
  height: 550px;
}

#headline #home-content {
  padding: 30px 15px;
}

#headline #home-content .line {
  border: 1px dashed #ee3d24;
  width: 50px;
  margin: 20px auto;
  margin-bottom: 40px;
}

#headline #home-content h1 {
  font-size: 30px;
  font-weight: bolder;
  color: #ee3d24;
  text-transform: uppercase;
}

#headline #home-content h3 {
  font-size: 22px;
  color: #ee3d24;
}

#headline #home-content #head-mob-p {
  font-size: 14px;
  color: #000;
}

#headline #home-content #head-h2 {
  font-size: 13px;
  color: #7a7a7a;
}

#headline #home-content #head-a {
  font-size: 13px;
  color: #5f5f5f;
  text-decoration: none;
  font-weight: bold;
}

#headline2 {
  padding: 5px 15px;
}

#headline2 #head2-line {
  border: 1px dashed #ee3d24;
  width: 50px;
  margin: 20px auto;
  margin-bottom: 40px;
}

#headline2 #head2-h2 {
  font-size: 20px;
  font-weight: bold;
}

#headline2 #head2-p1,
#headline2 #head2-p2 {
  font-size: 16px;
}

#past-conference {
  padding: 5px 15px;
}

#past-conference #past-line {
  border: 1px dashed #ee3d24;
  width: 50px;
  margin: 20px auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

#past-conference #past-h2 {
  font-size: 20px;
  font-weight: bold;
}

#past-conference #past-p {
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 35px;
  padding: 0 12px;
}

#past-conference #video-container #a1 {
  margin-bottom: 20px;
  width: 100%;
  height: 230px;
  background: url(./imgs/past-summit1.png) center center no-repeat;
  background-size: 100% 100%;
}

#past-conference #video-container #a1 #a1-span {
  background: #881c08;
  opacity: 0.75;
}

#past-conference #video-container #a1 #a1-span #a1-sp-h5 {
  font-size: 25px;
  font-weight: bold;
}

#past-conference #video-container #a1 #a1-span #a1-sp-p {
  font-size: 17px;
}

#past-conference #video-container #a2 {
  margin-bottom: 20px;
  width: 100%;
  height: 230px;
  background: url(./imgs/past-summit2.png) center center no-repeat;
  background-size: 100% 100%;
}

#past-conference #video-container #a2 #a2-span {
  background: #881c08;
  opacity: 0.75;
}

#past-conference #video-container #a2 #a2-span #a2-sp-h5 {
  font-size: 25px;
  font-weight: bold;
}

#past-conference #video-container #a2 #a2-span #a2-sp-p {
  font-size: 17px;
}

#social {
  margin-top: 30px;
  background: #fff;
  padding: 30px 15px;
  text-align: center;
}

#social #soc-line {
  border: 1px dashed #ee3d24;
  width: 50px;
  margin: 20px auto;
  margin-bottom: 40px;
}

#social #soc-h2 {
  color: #8f8f91;
  font-size: 30px;
  font-weight: 400;
}

#social div #soc-a {
  padding: 10px 10px;
}

#contact {
  padding: 30px 15px;
}
