$mobile-pading-x: 100px;

#header {
  padding: 5px $mobile-pading-x;
}

#headline {
  background: url(./imgs/features/bg.jpg) bottom left no-repeat;
  background-size: 100px 100px;
}

#home-content {
  padding: 50px $mobile-pading-x;
  h1 {
    font-size: 40px;
  };
  h3 {
    font-size: 30px;
  };
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  };
}


#main-program {
  padding: 70px $mobile-pading-x;
  #main-container {
    #main-window {
      padding: 30px 20px;
      #main-img-container {
        height: fit-content;
      }
      h3 {
        color: #ee3d24;
        margin: 0 2px;
        font-size: 24px;
      }
      p {
        font-size: 15px;
        text-align: center;
        max-width: 100%;
      }
    }
  }
  a {
    display: block;
    text-transform: uppercase;
  }
  div button {
    display: none;
  }
}

#featured-container {
  padding: 50px $mobile-pading-x;
  #featured-speakers * {
    //display: block;
  }
  h2 {
    font-size: 20px;
  }
  .feature-window {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
    .feature-bg {
      background: url(./imgs/features/bg.jpg) left top no-repeat;
      background-size: 60px 60px;
      padding: 10px 10px;
      padding-right: 5px;
    }
  }
}

#contact {
  padding: 30px $mobile-pading-x;
  a {
    margin-left: -5%;
  }
}