* {
  font-family: Lato, Linter, fantasy;
  color: black;
  font-size: 18px;
}

$danger: #ee3d24;
$mobile-pading-x: 15px;

@mixin line() {
  border: 1px dashed #ee3d24;
  width: 70px;
  margin: 20px auto;
  margin-bottom: 40px;
}


.border-check {
  border: 1.5px solid blue;
};

#header-btn:focus {
  box-shadow: 0 0 0 3px green;
}

#header-btn {
  .changeImage {
    background: url(./imgs/icons/x.svg) center center no-repeat;
    background-size: 20px 20px;
  }
}

#top-bar {
  padding: 0 $mobile-pading-x;
  background: #3e3e3e;
  * {
    font-size: 14px;
  }
}

#header {
  padding: 5px $mobile-pading-x;

  .nav-item {
    border-bottom: 2px solid transparent;
    border-radius: 2%;
    &:hover {
      background: #4eb741;
      border-bottom: 2px solid #4eb741;
      font-weight: bold;
      a:active {
        color: #ee3d24;
      }
    }
  }
  #CC-conference-btn-container {
    min-width: fit-content;
    max-width: fit-content;
  }
}

#headline {
  background: url(./imgs/features/bg.jpg) bottom right no-repeat;
  background-size: 100px 100px;
  #img1 {
    display: none;
  }
  #img2 {
    display: block;
  }
}

#home-content {
  padding: 30px $mobile-pading-x;
  h1 {
    background: url(./imgs/bluesky.jpg) center/cover;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
  };
  h3 {
    background: url(./imgs/bluesky.jpg) center/cover;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    font-size: 22px;
    font-weight: bold;
  };
  p {
    font-size: 14px;
  };
  h2 {
    font-size: 20px;
    font-weight: bold;
  };

}

#main-program {
  padding: 30px $mobile-pading-x;
  padding-bottom: 30px;
  background: #272a31;
  .line {
    @include line();
  }
  * {
    color: #fff;
  }
  h2 {
    font-size: 25px;
  }
  #main-container {
    margin: 40px 0;

    #main-window {
      overflow: auto;
      padding: 20px 20px;
      background: #3d4045;
      #main-img-container {
        height: fit-content;
      }
      h3 {
        color: #ee3d24;
        font-size: 16px;
        margin: 0 2px;
      }
      p {
        font-size: 14px;
        text-align: left;
        max-width: 55%;
      }
    }
  }
  a {
    display: none;
    text-transform: uppercase;
  }
  div button {
    display: block;
  }
}

#featured-container {
  text-align: center;
  padding: 50px $mobile-pading-x;
  padding-bottom: 80px;
  .line {
    @include line();
  }
  h2 {
    font-size: 20px;
  }
  .feature-window {
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 14px;
    }
    .feature-bg {
      background: url(./imgs/features/bg.jpg) left top no-repeat;
      background-size: 60px 60px;
      padding: 10px 10px;
      padding-right: 5px;
    }
  }
}

#social {
  background: #fff;
  padding: 50px $mobile-pading-x;
  text-align: center;
  .line {
    @include line();
  }
  h2 {
    color: #8F8F91;
    font-size: 30px;
    font-weight: 400;
  }
  div {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  div a {
    padding: 0 25px;
  }
}

#contact {
  padding: 30px $mobile-pading-x;
  a {
    display: flex;
    background-color: #4eb741;
    span {
      flex: 1;
      img {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
}

@import './node_modules/bootstrap/scss/bootstrap';
